body {
    background-image: url("resources/background.png");
    background-repeat: repeat-xy;
	font-family: franklin;
	font-size: 18px;
	color: white;
	vertical-align: center;
	
	
}

@font-face {
    font-family: franklin;
    src: url(resources/franklin.ttf);
}



.cialo {
   margin:auto;
   padding:0;
   position:relative;
   text-align:center;

}

#url {
	
	background-color: #C0C0C0;
	border-color: black;
	border-width: 1px;
	height: 18px;
}

#pole {
   margin:auto;
   padding:0;
   position:relative;
   left: 35%;
   text-align:left;

}


#new,#reset {
	background: url('resources/bg-button.gif');
	background-repeat: repeat-x;
	width: 90px;
	height: 30px;
	font-family: franklin;
	font-size: 18px;
	color: #bababa;
	border-color: black;
	border-width: 1px;
	
}


#generate,#download {
	background: url('resources/bg-button.gif');
	background-repeat: repeat-x;
	width: 200px;
	height: 30px;
	font-family: franklin;
	font-size: 18px;
	color: #bababa;
	border-color: black;
	border-width: 1px;
}